@model IEnumerable<PersonResponse>
@{
    ViewData["Title"] = "Persons";
}

<h1>Persons</h1>

<table>
    @foreach(var output in Model)
    {
        <tr>
            <td>@output.Name</td>
            <td>@output.Gender</td>
            <td>@output.Address</td>
            <td>@output.DateOfBirth?.ToString("dd MMM yyyy")</td>
            <td>@output.Email</td>
            <td>@output.CountryName</td>
            <td>@output.Age</td>
            <td>@output.ReceiveNewsLetter</td>
            <td></td>
        </tr>
    }
</table>
    
